.Container {
    /* border: 1px solid red; */
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.column {
    /* background-color: #006a4e; */
    /* border:  1px solid black; */
    /* background-image: url("../images/casinoTable.jpg"); */
    width: 50%;
    height: 350px; 
  }
  h2{
      color: #fff;
  }
  h1{
    color:#fff;
}
h4{
  color: #fff;
}
  
  .buttonContainer{
    /* position:relative;
    left:42%;
   
    /* background-image: url("../images/casinoTable.jpg"); */
    /* height: 70px; */
    padding-top: 20px; 
  }
 
  img{
      height: 120px;
      width: 120px;
      padding: 20px;
  }

  #burstText  {
      color: red;
      font-weight: bolder;
      font-style: italic;
  }

  #burstTextDealer {
    color: red;
    font-weight: bolder;
    font-style: italic;
  }

  .over-img{
    position: absolute;
    top: 80%;
    left: 20%;
}

body {
  background-image: url("../images/casioTable3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}